*{
    background-image: url("./a41a9f0cfea52_337861.png!sw800");
    background-repeat: no-repeat;
background-size:  100%


}

.js{
    
    font-size: xx-large;
    align-items: center;
    

    
}